* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.common-disply {
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* justify-content: space-between;
    align-items: center; */
}

/* ========== part-1 =========== */
.focuse-text {
    padding-top: 50px;
    width: 50%;
}

.focuse-text h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #5f768e;
    text-transform: uppercase;
    border-left: 7px solid tomato;
    padding-left: 20px;
}
.focuse-text h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17pz;
    color: #07111b;
    padding-top: 30px;
}


.focuse-text span {
    color: #fc9461;
}

.focuse-img {
    padding-left: 50px;
    width: 68%;
}

.focuse-img img {
    width: 50%;
    padding-left: 160px;
}

.focuse-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 35px;
    padding-bottom: 50px;
    color: rgb(36, 31, 31);
}

.link-button a {
    font-family: 'Oswald', sans-serif;
    padding: 15px 30px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(#5f768e, #e26c31);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* ========== part -2 ========= */
.mission{
    margin-top: 100px;
}
.mission-head span{
    color: #fc9461;
}

.mission-head h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: #0c295f;
    text-align: center;
    padding-bottom: 50px;
}
.ill-img-bg  h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #01040a; 
    padding-left: 30px ;
}
.ill-img-bg {
    margin-right: 30px;
 background: #5f768e;
 border-radius:30px ;
 -webkit-border-radius:30px ;
 -moz-border-radius:30px ;
 -ms-border-radius:30px ;
 -o-border-radius:30px ;
}
.ill-img-bg p{
    padding: 10px 30px 30px;
}
.ill-img-bg img{
    width:40%;
}