* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.common-display {
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* justify-content: space-between;
    align-items: center; */
}

/* ========== part-1 =========== */
.focuse-text {
    padding-top: 50px;
    width: 50%;
}

.focuse-text h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #5f768e;
    text-transform: uppercase;
    border-left: 7px solid tomato;
    border-image:linear-gradient(#e26c31,#5f768e);
    border-image-slice: 1;
    padding-left: 20px;
}
.focuse-text h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17pz;
    color: #07111b;
    padding-top: 30px;
}


.focuse-text span {
    color: #fc9461;
}

.focuse-img {
    padding-left: 50px;
    width: 68%;
}

.focuse-img img {
    width: 50%;
    padding-left: 160px;
}

.focuse-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 35px;
    padding-bottom: 50px;
    color: rgb(36, 31, 31);
}

.link-button a {
    font-family: 'Oswald', sans-serif;
    padding: 15px 30px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(#5f768e, #e26c31);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* ========== part -2 ========= */
.mission{
    margin-top: 100px;
    margin-bottom: 100px;
}
.mission-head span{
    color: #fc9461;
}

.mission-head h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: #0c295f;
    text-align: center;
    padding-bottom: 50px;
}
.ill-img-bg  h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #01040a; 
    padding-left: 30px ;
}
.ill-img-bg {
 margin-right: 30px;
 background: #5f768e;
 border-radius:30px ;
 -webkit-border-radius:30px ;
 -moz-border-radius:30px ;
 -ms-border-radius:30px ;
 -o-border-radius:30px ;
 box-shadow: 15px 7px 21px black;
}
.ill-img-bg p{
    padding: 10px 30px 30px;
}
.ill-img-bg img{
    width:40%;
}
.extra-1{
    background:#fc9461 ;
}
.extra-2{
    background:#ddacd9 ;
}
/* ================ part-3 ============= */
#develop{
    background: url(../images/dream-bg.png) no-repeat;
    background-position: left;
    margin-bottom: 100px;
}
.develop-text h1{
    font-size: 40px;
}
.develop-text{
    width: 50%;
    padding-top: 90px;
}
.develop-text span{
  display:block;
  color:#e26c31;
}
.develop-img{   
        width: 50%;
        padding-top: 62px;
}
.develop-img img {
	width: 69%;
	padding-right: 127px;
}
/* ============== part-4 ============ */
#global{
    margin-bottom: 100px
}
.Community h1{
    font-family: 'Poppins', sans-serif;
    border: none;
    color:rgb(13, 13, 27);
    padding-left: 0;
}
.Community span{
    color:rgb(32, 128, 131);
}
.Community img{
        width: 69%;
        padding-left: 127px;
 
}
/* ============= part-5 =========== */
#online-form{
    margin-bottom: 100px;
}
.form-div {
	padding: 100px 80px 100px 80px;
	background: rgba(77, 146, 202, 0.562);
}
input {
	padding: 21px 300px 20px 30px;
    margin-bottom: 50px;;
}
button {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding: 18px 185px;
	background: rgb(77, 104, 223);
    color: #ffffff;
}
.onlin-head h2{
    padding-bottom: 100px;
}
.form-div{
    width: 38%;
}
.form-div-img img{
    width: 100%;
}
.form-div-img{
    width:62%;
}
::placeholder{
    font-size: 20px;
}